S3method("[",rate_curve)
S3method(cashflow,bullet)
S3method(cashflow,french)
S3method(cashflow,german)
S3method(cashflow,loan)
S3method(plot,rate_curve)
export(adjust_disc)
export(cashflow)
export(cft)
export(disc_cf)
export(find_rate)
export(irr)
export(loan)
export(npv)
export(pmt)
export(rate)
export(rate_curve)
export(rem)
import(ggplot2)
import(reshape2)
