export(adjust_disc)
export(cft)
export(disc_cf)
export(disc_to_french)
export(disc_to_fut)
export(disc_to_german)
export(disc_to_spot)
export(disc_to_swap)
export(fut_to_disc)
export(fut_to_spot)
export(irr)
export(loan)
export(npv)
export(pmt)
export(rate)
export(rem)
export(spot_to_disc)
export(swap_to_disc)
useDynLib(tvm)
